<template>
    <!--/mid-sec-->
    <section class="mid-sec py-5" id="menu">
        <div class="container-fluid py-lg-5">
            <div class="header pb-lg-3 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3"></h3>
            </div>
            <div class="middile-inner-con">

                <div class="tab-main mx-auto text-center">

                    <button v-show="false" v-if="categories.length>0" v-for="category in categories" :id="'tab'+category.id"  @click="activeCategory=category.id" type="radio" name="tabs" ></button>
                    <label :class="category.id==activeCategory?'checked':''"  v-if="categories.length>0" v-for="category in categories" :for="'tab'+category.id"><span :class="'fa '+category.icon" aria-hidden="true"></span> {{category.title}}</label>



                    <section :key="category.id" v-if="categories.length>0" :style="category.id==activeCategory?'display:block !important;':'display:none;'" v-for="category in categories" :id="'content'+category.id">
                        <div class="ab-info row">
                            <div v-for="product in category.products" class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img :src="product.image"
                                         :alt="'$'+product.title" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>{{product.title}}</h4>
                                        <p class="price">${{product.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!--//mid-sec-->

</template>

<script>
    export default {
        data: ()=>{
            return {
                categories: [],
                resource_url: '/api/categories',
                loading: false,
                activeCategory:1,
            }
        },
        mounted() {
            this.loading=true;
            axios.get(this.resource_url).then((response)=>{
                this.categories=response.data.data;
                this.loading=false;
            });
        }
    }
</script>

<style scoped>
    .checked{
        color: #ffc80a;
        border: none;
        border-top: none;
        border-bottom: 1px solid #fff;
        background: #c20d00;
    }
    .checked:hover{
        color: #ffc80a;
        border: none;
        border-top: none;
        border-bottom: 1px solid #fff;
        background: #c20d00;
    }
</style>
